<!DOCTYPE html>
<html lang="en" direction = "ltr">
<head>
    <meta name="author" content="Omer Gursoy">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Omer Gursoy's professional website">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omer Gursoy</title>
    <link rel = "stylesheet" href = "../Statics/style.css">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../Statics/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body onload = "addYear()" style = "background-color: black;">
    <header>
        <h1 id = "webname">Omer Gursoy</h1>
        <nav id = "myTopnav" class = "topnav">
            <a href = "index.html" class = "active">Home</a>
            <a href = "cv.html">CV</a>
            <a id = "contact-me" class = "active" href = "contact.html">Contact me</a>
            <a href = "fun.html">For fun</a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class="main">
        <h2>
            Contact Me
        </h2>
        <form action = "">
            <fieldset>
                <legend>Your information</legend>
                <label for = "name">
                    Your name (required):
                    <input type = "text" id = "name" placeholder = "James Mckinsey" 
                    autocomplete = "name" required>
                </label>
                <label for = "email">
                    Your Email (required):
                    <input type = "text" id = "email" placeholder = "example@gmail.com" 
                    autocomplete = "email" required>
                </label>
            </fieldset>
            <fieldset>
                <legend>Your text</legend>
            <label for = "comment">
                Comments or Questions
            </label>
            <textarea name = "comment" id = "comment" cols = "30" rows = "10" required placeholder = "leave a message..."></textarea>
            </fieldset>
            <input class = "submit" type = "submit" value = "SEND" onclick = "validate()">
        </form>
        <p id = "ValidateMsg"></p>
            <table>
                <tr><th>Contact Method</th><th>Description</th></tr>
                <tr><td>Email</td><td></td></tr>
                <tr><td>Phone</td><td></td></tr>
                <tr><td>LinkedIn</td><td></td></tr>
            </table>
    </div> 
    <footer>
        <p id = "copyYear">Omer Gursoy &copy; </p>
    </footer>
    
</body>
</html>